
<h2>My Orders</h2>
@for (order of orders; track $index) {

<div class="bg-white p-6 rounded-lg shadow-md">
  <table class="w-full border-collapse">
      <h3 class="font-bold text-2xl">OrderID : {{order._id}}</h3>
      <h3 class="font-bold text-2xl">Date :{{ order.date| date:'medium' }}</h3>
      <h4 class="font-bold text-2xl">Status : {{order.status}}</h4>
      <hr>
      <p>Customer Address :{{order.address.address}}</p>
      <p>Customer city :{{order.address.city}}</p>
      <p>Customer State :{{order.address.state}}</p>
      <p>Customer Pincode :{{order.address.zip | json}}</p>
      <hr>
      <tbody>
        @for (item of order.address.item; track $index) {
          <!-- Sample Cart Item -->
           <!-- @for (item of cart; track $index) { -->
          <tr class="border-b">
              <td class="flex items-center gap-3 p-3">
                  <img [src]="item.product.images[0]" class="w-16 h-16 object-cover rounded-lg">
                  <span class="text-gray-700 font-medium">{{item.product.name}}</span>
              </td>
              <td class="text-center p-3">


              <span class="text-lg font-semibold">{{ item.quantity }}</span>


              </td>
              <td class="text-center p-3 text-gray-700">{{item.product.price}}</td>
              <td class="text-center p-3 text-gray-700">{{item.product.discount}}%</td>
              <td class="text-center p-3 text-gray-900 font-bold">{{sellingPrice(item.product)*item.quantity}}</td>

          </tr>
        <!-- } -->
        }
      </tbody>
  </table>
</div>
  }

